<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCME.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SCME.Agent.Properties.Settings>
      <setting name="ServiceAppPath" serializeAs="String">
        <value>SCME.Service.exe</value>
      </setting>
      <setting name="UIAppPath" serializeAs="String">
        <value>SCME.UI.exe</value>
      </setting>
      <setting name="IsUserInterfaceEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyAppPath" serializeAs="String">
        <value>SCME.Proxy.exe</value>
      </setting>
      <setting name="IsProxyEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyInitDelayMs" serializeAs="String">
        <value>1000</value>
      </setting>
    </SCME.Agent.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
