<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCME.SQLDatabaseClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <SCME.SQLDatabaseClient.Properties.Settings>
      <setting name="DBName" serializeAs="String">
        <value>SCME_ResultsDB</value>
      </setting>
      <setting name="ReportTemplateFolder" serializeAs="String">
        <value>ReportTemplates\</value>
      </setting>
      <setting name="DBIntegratedSecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DbPath" serializeAs="String">
        <value>tcp:192.168.0.134, 1444</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>Hpl1520</value>
      </setting>
    </SCME.SQLDatabaseClient.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityData.ModelGroups.csdl|res://*/EntityData.ModelGroups.ssdl|res://*/EntityData.ModelGroups.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LELIKK-PC;initial catalog=SCME_ResultsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>