<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="DefaultTcpBinding" receiveTimeout="08:00:00" sendTimeout="00:25:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="net.tcp"/>
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding"/>
    </protocolMapping>

    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultClientEndpointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

 

    <client>
      <endpoint address="net.tcp://192.168.0.134:730/SCME/CentralDatabase" behaviorConfiguration="DefaultClientEndpointBehavior" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" contract="SCME.Types.Database.IDbService" name="SCME.CentralDatabase"/>
    </client>

  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
