<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <SCME.Service.Properties.Settings>
      <setting xdt:Locator="Condition(@name='LogsDatabasePath')">
        <value xdt:Transform="Replace">C:\Users\4uctuk\Source\Repos\PC Soft\DB\SCME_LogsDB.sqlite</value>
      </setting>
      <setting xdt:Locator="Condition(@name='ResultsDatabasePath')">
        <value xdt:Transform="Replace">C:\Users\4uctuk\Source\Repos\PC Soft\DB\SCME_ResultsDB_Local.sqlite</value>
      </setting>
      <setting xdt:Locator="Condition(@name='IsClampingSystemConnected')">
        <value xdt:Transform="Replace">True</value>
      </setting>
    </SCME.Service.Properties.Settings>
  </applicationSettings>
</configuration>