<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint xdt:Locator="Condition(@name='SCME.PrintingService')" xdt:Transform="SetAttributes" address="net.tcp://127.0.0.1:804/SCME/SCME.PrintingService.MME"
                 />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SCME.Service.Properties.Settings>
      <setting xdt:Locator="Condition(@name='AdapterPort')">
        <value xdt:Transform="Replace">1</value>
      </setting>
      <setting xdt:Locator="Condition(@name='ClampingSystemEmulation')">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting xdt:Locator="Condition(@name='IsClampingSystemConnected')">
        <value xdt:Transform="Replace">False</value>
      </setting>
      <setting xdt:Locator="Condition(@name='CommutationEmulation')">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting xdt:Locator="Condition(@name='GatewayEmulation')">
        <value xdt:Transform="Replace">False</value>
      </setting>
      <setting xdt:Locator="Condition(@name='AdapterEmulation')">
        <value xdt:Transform="Replace">False</value>
      </setting>
      <setting xdt:Locator="Condition(@name='MMECode')">
        <value xdt:Transform="Replace">MME009</value>
      </setting>
      <setting xdt:Locator="Condition(@name='LogsDatabasePath')">
        <value xdt:Transform="Replace">Db\SCME_LogsDB.sqlite</value>
      </setting>
      <setting xdt:Locator="Condition(@name='BVTEmulation')">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting xdt:Locator="Condition(@name='GateEmulation')">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting xdt:Locator="Condition(@name='SLEmulation')">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting xdt:Locator="Condition(@name='ResultsDatabasePath')">
        <value xdt:Transform="Replace">Db\SCME_ResultsDB_Local.sqlite</value>
      </setting>
      <setting xdt:Locator="Condition(@name='ForceLogFlush')">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting xdt:Locator="Condition(@name='LogsTracePathTemplate')">
        <value xdt:Transform="Replace">LogsService {0}.log</value>
      </setting>
      <setting xdt:Locator="Condition(@name='SctuEmulation')">
        <value xdt:Transform="Replace">False</value>
      </setting>
    </SCME.Service.Properties.Settings>
  </applicationSettings>
</configuration>