<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <SCME.Agent.Properties.Settings>
      <setting xdt:Locator="Condition(@name='ServiceAppPath')">
        <value xdt:Transform="Replace">D:\Core\SCME.Service.exe</value>
      </setting>
      <setting xdt:Locator="Condition(@name='UIAppPath')">
        <value xdt:Transform="Replace">D:\UI\SCME.UI.exe</value>
      </setting>
    </SCME.Agent.Properties.Settings>
  </applicationSettings>
</configuration>