<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCME.RemoteReportGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="DefaultClientEndpointBehavior">
            <callbackDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    
      <bindings>
        <netTcpBinding>
          <binding name="DefaultTcpBinding" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxConnections="100">
            <security mode="None"/>
          </binding>
        </netTcpBinding>
      </bindings>
      <protocolMapping>
        <remove scheme="net.tcp"/>
        <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding"/>
      </protocolMapping>

      <client>
        <endpoint address="" behaviorConfiguration="DefaultClientEndpointBehavior" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" contract="SCME.Types.IDatabaseCommunicationService" name="SCME.Service.DatabaseServer"/>
      </client>

    </system.serviceModel>
    <applicationSettings>
        <SCME.RemoteReportGenerator.Properties.Settings>
            <setting name="TemplateTabDev" serializeAs="String">
                <value>Templates\TemplateReportDevRT1.xls</value>
            </setting>
            <setting name="ServerAddressTemplate" serializeAs="String">
                <value>net.tcp://{0}:801/SCME/SCME.IO.DatabaseService</value>
            </setting>
            <setting name="TemplateModDev" serializeAs="String">
                <value>Templates\TemplateReportModRT1.xls</value>
            </setting>
            <setting name="MMEList" serializeAs="String">
                <value>MMEList.xml</value>
            </setting>
        </SCME.RemoteReportGenerator.Properties.Settings>
    </applicationSettings>
</configuration>
