<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCME.ProfileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultClientEndpointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="DefaultTcpBinding" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxConnections="100">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="net.tcp"/>
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding"/>
    </protocolMapping>

    <client>
      <endpoint address="net.tcp://127.0.0.1:803/SCME/SCME.ProfileService.MME" behaviorConfiguration="DefaultClientEndpointBehavior" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" contract="SCME.Types.IProfileProviderService" name="SCME.ProfileService"/>
    </client>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <SCME.ProfileManager.Properties.Settings>
      <setting name="ManagerID" serializeAs="String">
        <value>CONSOLE-001</value>
      </setting>
    </SCME.ProfileManager.Properties.Settings>
  </applicationSettings>
</configuration>
