<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCME.Logger.Properties.Settings.SCME_ResultsDBConnectionString"
            connectionString="data source=&quot;C:\Work\proton\Test equipment\Soft\DB\SCME_ResultsDB.sqlite&quot;;synchronous=Full;journal mode=Truncate;failifmissing=True"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>