<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCME.DatabaseServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultTcpBinding" receiveTimeout="00:25:00" sendTimeout="00:25:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="net.tcp" />
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" />
    </protocolMapping>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultClientEndpointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="SCME.InterfaceImplementations.SQLCentralDatabaseService">
        <endpoint address="net.tcp://localhost:810/SCME/SCME.IO.CentralDatabaseService" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" name="SCME.CentralDatabaseService" bindingNamespace="" contract="SCME.Types.DatabaseServer.ICentralDatabaseService" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <applicationSettings>
    <SCME.DatabaseServer.Properties.Settings>
      <setting name="DBIntegratedSecurity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbPath" serializeAs="String">
        <value>tcp:192.168.0.134, 1444</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>SCME_ResultsDB</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>Hpl1520</value>
      </setting>
      <setting name="LogPathTemplate" serializeAs="String">
        <value>Logs\DatabaseServer_{0}.log</value>
      </setting>
    </SCME.DatabaseServer.Properties.Settings>
  </applicationSettings>
</configuration>