<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCME.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="DefaultTcpBinding" receiveTimeout="00:25:00" sendTimeout="00:25:00"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"  maxConnections="100">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="net.tcp" />
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" />
    </protocolMapping>

    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultClientEndpointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="SCME.Service.ExternalControlServer">
        <endpoint address="net.tcp://127.0.0.1:800/SCME/SCME.IO.ControlService" binding="netTcpBinding"  bindingConfiguration="DefaultTcpBinding"
                  name="ExternalControl" bindingNamespace="" contract="SCME.Types.IExternalControl" />
      </service>
      <service name="SCME.Service.DatabaseServer">
        <endpoint address="net.tcp://127.0.0.1:800/SCME/SCME.IO.DatabaseService" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding"
                  name="DatabaseCommunicationInt" bindingNamespace="" contract="SCME.Types.IDatabaseCommunicationService" />
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://PROTONETX-SERVE:802/SCME/SCME.PrintingService.MME"
                behaviorConfiguration="DefaultClientEndpointBehavior" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding"
                contract="SCME.Types.IPrintingService" name="SCME.PrintingService" />
      <endpoint address="net.tcp://192.168.0.134:950/SCME/SCME.IO.CentralDatabaseService"
               behaviorConfiguration="DefaultClientEndpointBehavior" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding"
               contract="SCME.Types.DatabaseServer.ICentralDatabaseService" name="SCME.CentralDatabaseService" />
    </client>

  </system.serviceModel>

  <applicationSettings>
    <SCME.Service.Properties.Settings>
      <setting name="GateNode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SLNode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BVTNode" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="CommutationNode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AdapterPort" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GatewayNode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsCommutationType6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommutationExNode" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CommutationExEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCommutationExType6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClampingSystemEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClampingSystemNode" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="IsClampingSystemConnected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBOptionsLogs" serializeAs="String">
        <value>synchronous=Full;failifmissing=True;</value>
      </setting>
      <setting name="IncludeDetailsInLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GateReadGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SLReadGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BVTReadGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisableResultDB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableLogDB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommutationEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GatewayEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdapterEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BVTEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GateEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SLEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogsTracePathTemplate" serializeAs="String">
        <value>Logs\LogsService {0}.log</value>
      </setting>
      <setting name="DBServiceExternalEndpoint" serializeAs="String">
        <value>net.tcp://127.0.0.1:801/SCME/SCME.IO.DatabaseService</value>
      </setting>
      <setting name="dVdtNode" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="dVdtEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DBOptionsResults" serializeAs="String">
        <value>synchronous=Full;journal mode=Truncate;failifmissing=True</value>
      </setting>
      <setting name="LogsDatabasePath" serializeAs="String">
        <value>Db\SCME_LogsDB.sqlite</value>
      </setting>
      <setting name="ResultsDatabasePath" serializeAs="String">
        <value>Db\SCME_ResultsDB_Local.sqlite</value>
      </setting>
      <setting name="SctuEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SctuNode" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="DefaultHeight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ForceLogFlush" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaintenanceServiceExternalEndpoint" serializeAs="String">
        <value>net.tcp://127.0.0.1:800/SCME/SCME.IO.MaintenanceService</value>
      </setting>
      <setting name="ATUEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ATUNode" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="SafetyType" serializeAs="String">
        <value>Optical</value>
      </setting>
      <setting name="DefaultForce" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LongTimeForce" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ThisControlUnitBoardNode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AnotherControlUnitBoardNode" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="SCTUReadGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAnotherControlUnitBoard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NeedSCTUInitialization" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MMECode" serializeAs="String">
        <value>MME008</value>
      </setting>
      <setting name="QrrTqNode" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="QrrTqEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QrrTqReadGraf" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RACNode" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RACEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IHEmulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RCCEmulation" serializeAs="String">
        <value>True</value>
      </setting>
    </SCME.Service.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
