<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SCME.ProfileServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultTcpBinding" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxConnections="100">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="net.tcp"/>
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding"/>
    </protocolMapping>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultClientEndpointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="SCME.ProfileServer.ProfileServer">
        <endpoint address="net.tcp://127.0.0.1:803/SCME/SCME.ProfileService.MME" binding="netTcpBinding" bindingConfiguration="DefaultTcpBinding" name="ProfileServer" bindingNamespace="" contract="SCME.Types.IProfileProviderService"/>
      </service>
    </services>
  </system.serviceModel>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <SCME.ProfileServer.Properties.Settings>
      <setting name="LogPathTemplate" serializeAs="String">
        <value>Logs\ProfileServer_{0}.log</value>
      </setting>
      <setting name="ProfileDictionaryPath" serializeAs="String">
        <value>ProfileDictionary.xml</value>
      </setting>
      <setting name="ConfigurationListPath" serializeAs="String">
        <value>ConfigurationList.xml</value>
      </setting>
    </SCME.ProfileServer.Properties.Settings>
  </applicationSettings>
</configuration>