<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <SCME.UI.Properties.Settings>
      <setting xdt:Locator="Condition(@name='IgnoreSC')">
        <value xdt:Transform="Replace">False</value>
      </setting>
      <setting xdt:Locator="Condition(@name='RunExplorer')">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting xdt:Locator="Condition(@name='dVdtIsVisible')">
        <value xdt:Transform="Replace">False</value>
      </setting>
      <setting xdt:Locator="Condition(@name='MMECode')">
        <value xdt:Transform="Replace">MME005</value>
      </setting>
    </SCME.UI.Properties.Settings>
  </applicationSettings>
</configuration>